<div class="jumbotron animated fadeIn">
    <h1 class="bg-primary p-3 m-3 text-light">Aplicacion web</h1>
        <p class="bg-primary p-3 m-3 text-light">Esta app wer consciste en emular la apariencia y navegacion en un sitio utilizando angular.</p> 
        <br>
        <h2>Estas fueron algunas de las implementaciones usadas para desarrollar SPA</h2>
        <ul class="list-group border border-primary">
            <li class="list-group-item">Uso de bootstrap instalado localmente</li>
            <li class="list-group-item">Componentes creados mediante CLI</li>
            <li class="list-group-item">Rutas parametrizadas</li>
            <li class="list-group-item">Uso del servicio products.service</li>
            <li class="list-group-item">Uso de navbar para navegación dentro de la página</li>
            <li class="list-group-item">Directivas ngFor y ngIf</li>
        
        </ul>
        <hr class="my-4">
        <a [routerLink]="['/home']" class="btn btn-primary btn-lg" role="button">Home</a>
</div>
