<div class="carousel slide" id="carouselExampleSlidesOnly" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../../assets/img/cel.JPG" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="../../../assets/img/cama.JPG" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="../../../assets/img/refrig.JPG" class="d-block w-100" alt="...">
        </div>
    </div>
</div>