<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="#" class="navbar-brand">Best-Buy</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link"[routerLink]="['home']">Home</a>
            <a class="nav-link"[routerLink]="['telefonia']">Telefonia</a>
            <a class="nav-link"[routerLink]="['camaras']">Camaras</a>
            <a class="nav-link"[routerLink]="['lineablanca']" href="#">Linea Blanca</a>
            <a class="nav-link"[routerLink]="['about']">About</a>
        </div>

    </div>
</nav>